<transition name="fade" @after-enter="showMask">
<div :class="$style.root" v-if="currentVisible" :noMask="noMask" :static="static">
    <transition name="slide-right" @after-leave="hideMask">
        <div v-if="dialogVisible" ref="dialog" :class="$style.dialog" :header="header" :style="{width: width+'px'}" :size="size" v-click-outside="handleClose">
            <div :class="$style.head">
                <slot name="head">
                    <div v-if="title" :class="$style.title">
                        <slot name="title">{{ title }}</slot>
                    </div>
                    <a :class="$style.close" @click="cancel()"></a>
                </slot>
            </div>
            <div :class="$style.body" :icon="icon">
                <slot name="body">
                    <div :class="$style.text">
                        <div :class="$style.heading"><slot name="heading">{{ heading }}</slot></div>
                        <div :class="$style.content"><slot>{{ content }}</slot></div>
                    </div>
                </slot>
            </div>
        </div>
    </transition>
</div>
</transition>
    