.root {
    height: 60px;
    margin-top: -40px;
    line-height: 60px;
}

.root[absolute] {
    position: absolute;
    top: 0;
    margin-top: 0;
}

.item {
    display: inline-block;
    color: #666;
}

.item:after {
    content: '/';
    margin: 0 5px;
}
